@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
    int Count = 1;
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                      <h1>Category</h1>         
                        <h3><a asp-action="Create" class="btn btn-outline-success"><i class="fa fa-plus-square-o"></i></a> Create</h3>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th># ID</th>
                                        <th>Category Name</th>
                                        <th>IsDeleted?</th>
                                        <th class="text-center">Settings</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var category in Model)
                                    {
                                        <tr>
                                            <td>@Count</td>
                                            <td>@category.Title</td>
                                            <td>@(category.IsDeleted? "Deleted" : "IsActive")</td>
                                            <td>
                                                <ul class="list-unstyled d-flex justify-content-center align-items-center mb-0" >
                                                    <li class="mx-2"><a asp-action="Update" asp-route-id="@category.CategoryId" class="btn btn-outline-warning @(category.IsDeleted?"disabled":null)" title="Update category"><i class="fa fa-refresh"></i></a></li>
                                                    <li class="mx-2"><a class="btn btn-outline-info @(category.IsDeleted?"disabled":null)" title="Review detail"><i class="fa fa-address-card"></i></a></li>
                                                    <li class="mx-2"><a asp-action="DeleteOrActive" asp-route-id="@category.CategoryId" class="btn @(category.IsDeleted?"btn-outline-success":"btn-outline-danger")" title="@(category.IsDeleted?"Make unlock":"Make lock")"><i class="@(category.IsDeleted? "fas fa-lock-open" : "fas fa-lock")"></i></a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        Count++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
